body {
    background-color: white;
    background-image: url('media/tech_squares.gif');
    background-size: cover; /* covers the background gif across the body of the page */
    font-family: Hack, monospace;
    height: 100%;
    width: 100%;
}

.main {
    margin: 10% auto;
    padding: 5%; /* Adjusted padding inside the container */
    background-color: black;
    border: 2px solid dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
    color: white;
    text-align: center;
    width: 65%; /* Adjusted the width of the div */
}

#palindrome,
.final_result {
    padding-bottom: 2%;
}

#check-button {
    width: 15%;
    margin-bottom: 2%;
    padding: 2%;
    font-size: 1.2vw;
    background-color: dodgerblue;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    font-family: Hack, monospace;
}

#check-button:hover {
    background-color: darkblue;
}

#final_result {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

#input_num {
    width: 40%; /* Adjusted width for the text input */
    padding: 1%; /* Adjusted padding for the text input */
    font-size: 1.2vw;
}
