/* set the main body style */
body {
    position: absolute;
    padding: 25px;
    height: 500px;
    width: 450px;
    border: 5px solid yellowgreen;
    background-color: #FFFFFF;
}

/* changed the size of the custom boxes */
.custom-square {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 2px;
}

/* moved the button to the same location in the assignment details*/
.generate-button {
    position: absolute;
    bottom: 10px; /* Moved the button to the bottom */
    left: 10px; /* Moved the button to the left */
}

/* Style for the description container */
.description {
    position: absolute;
    padding: 0 3% 0 3%;
    top: 50%; /* specific to matching the div with the squares horizontally*/
    left: 124%;
    transform: translate(-50%, -50%); /* Center the description horizontally and vertically */
    border: 5px solid yellowgreen;
    font-family: Hack, monospace;
    height: 550px;
    background-color: #FFFFFF;
}

/* Style for the webpage */
html {
    background-color: black;
}
